.articleHeader {
    color: #616569;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    & .authorId {
        color: #616569;
        margin-right: 6px;
        text-decoration: underline;
    }
    & .articleBoard {
        color: #616569;
        margin-left: 6px;
        text-decoration: underline;
    }
    & .authorId:hover {
        cursor: pointer;
        color: #0366d6;
    }
    & .articleBoard:hover {
        cursor: pointer;
        color: #0346a6;
    }
    & .seperationDot {
        margin: 0px 4px;
    }
    & .articleTime { }
}
.articleLine {
    color: black;
    margin: 10px 0px;
    & .articleType {
        position: relative;
        bottom: 1px;
        border: 1px solid;
        padding: 1px 3px;
        border-radius: 2px;
        font-weight: bold;
        font-size: 16px;
        margin-right: 8px;
    }
    & .articleTitle {
        font-size: 20px;
        font-weight: bold;
    }
}
.articleMeta {
    display: flex;
    flex-direction: row;
    & .txtMeta {
        flex: 1;
        & .cName {
            background-color: var(--cname-color);
            display: inline-block;
            padding: 2px;
            border-radius: 2px;
            font-weight: bold;
        }
        & .title {
            font-weight: 500;
            font-size: 25px;
            height: 40px;
        }
        & .titleLong {
            font-size: 17px;
            height: 40px;
        }
        & .authorDate {
            margin-left: 10px;
            display: inline-block;
            color: #aaa;
            & .author {
                color: #aaa;
                text-decoration: underline;
            }
        }
    }
}

.articleFooter {
    width: 100%;
    display: flex;
}
.articleBtns {
    display: flex;
}
.articleBtnItem {
    display: flex;
    color: #616569;
    white-space: nowrap;
    margin-right: 10px;
    cursor: pointer;
    padding: 3px;

    align-items: center;
    font-size: 14px;
    border-radius: 4px;

    & i {
        margin-right: 3px;
    }
}
.articleBtnItem:hover {
    background-color: #d9d9d9;
}

.num {
    margin-right: 2px;
}