.articleHeader {
    color: var(--light-font-color);
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    & .authorId {
        position: relative;
        z-index: 10;
        color: var(--light-font-color);
        margin-right: 6px;
        text-decoration: underline;
    }
    & .articleBoard {
        position: relative;
        z-index: 10;
        color: var(--light-font-color);
        margin-left: 6px;
        text-decoration: underline;
    }
    & .authorId:hover {
        cursor: pointer;
        color: var(--link-color);
    }
    & .articleBoard:hover {
        cursor: pointer;
        color: var(--link-color);
    }
    & .seperationDot {
        margin: 0px 4px;
    }
    & .articleTime { }
}
.articleLine {
    color: black;
    margin: 10px 0px;
    & .articleType {
        position: relative;
        bottom: 1px;
        border: 1px solid;
        padding: 1px 3px;
        border-radius: 2px;
        font-weight: bold;
        font-size: 16px;
        margin-right: 8px;
    }
    & .articleTitle {
        font-size: 20px;
        /* font-weight: bold; */
    }
    & .articleGraphViewIcon {
        font-size: 20px;
        position: relative;
        z-index: 10;
    }
}

.articleFooter {
    width: 100%;
    display: flex;
}
.articleBtns {
    display: flex;
}
.articleBtnItem {
    display: flex;
    white-space: nowrap;
    margin-right: 10px;
    cursor: pointer;
    padding: 3px;

    align-items: center;
    font-size: 14px;
    border-radius: 4px;

    & i {
        font-size: 150%;
        margin-right: 4px;
    }
}
.articleBtnItem:hover {
    background-color: var(--hover-background-color);
}

.num {
    margin-right: 2px;
}

.articleContainer {
    border: 1px var(--lighter-gray) solid;
    background-color: var(--background-color);
    overflow: hidden;
    width: 100%;
    max-width: 1150px;
    padding: 14px 20px;
    position: relative;
    & .overlay {
        position: absolute;
        left:0; top:0; bottom:0; right:0;
    }
}
.articleContainer:hover {
    box-shadow: inset 0 0 5px var(--theme-color);
}
.articleBody {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 14px;
}
.leftPart {
    display: block;
    width: 100%;
}
.articleContent {
    display: inline-block;
    word-wrap: break-word;
    white-space: pre-wrap;
    color: var(--font-color);
    font-size: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.simpleArticleCard {
    border: 1px var(--lighter-gray) solid;
    padding: 2px 10px 5px 10px;
    position: relative;
    & .overlay {
        position: absolute;
        left:0; top:0; bottom:0; right:0;
    }
}

.simpleArticleCard:hover {
    box-shadow: inset 0 0 2px var(--theme-color);
}

.satelliteCard {
    margin: 5px 10px;
    & .satelliteHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5px 0px;
        font-size: 14px;
        color: var(--light-font-color);
        & .authorId {
            text-decoration: underline;
        }
    }
}