.articlePage {
    border: 1px var(--lighter-gray) solid;
    background-color: var(--background-color);
    padding: 20px;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    & .articleContent {
        margin: 20px 0px 20px 0px;
        line-height: 1.5;
        font-size: 16px;
        color: var(--font-color);
        
        & .field {
            margin-bottom: 20px;
            & .fieldName {
                color: var(--light-font-color);
            }
            & .wrap > div {
                border-radius: 10px;
                border: 0px;
                background: var(--third-theme-color);
            }
        }
    }
    & .reply {
        cursor: pointer;
    }
    & .cantReply {
        color: var(--disabled-color);
    }
}

.replyCardList {
    margin-top: 20px;
}
.replyCardList > div:not(:first-child) {
    border-top: 0px;
}
