.articleBlock {
    position: absolute;
    transition: .2s;
}
.svgBlock {
    /* z-index: -99; */
    width: 100%;
    background-color: var(--lightest-gray);
    & svg:active {
        cursor: move;
    }
}