.rightSidebarItem {
    padding: 10px 0px;
}

.rightSidebarButton {
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.postArticleButton {
    background-color: var(--theme-color);
    color: #fafafa;
}

.trackBoardButton {
    border: 2px var(--theme-color) solid;
    color: var(--theme-color);

}

.showPartyButton {
    border: 2px var(--hover-background-color) solid;
    color: var(--hover-background-color);
}

.rightSidebarBlock {
    background-color: var(--background-color);
    padding: 15px;
    color: var(--font-color);

    & .header {
        font-size: 24px;
    }

    & .content {
        padding: 15px 2px;

        & .partyItem {
            display: flex;
            padding: 5px 0px;

            & .partyTitle {
                flex: 1;
            }

            & .partyName {
                flex: 2;
            }

            & .partyScore {
                flex: 1;
                color: var(--sub-theme-color);
                font-weight: 300;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                & .logo {
                    height: 1em;
                    padding: 0px 5px;
                }
            }
        }

        & .mainPartyItem {
            color: var(--theme-color);
            font-weight: bold;
        }
    }
}
