:root {
    --user-info-min-width: 160px;
}
.header {
    background-color: var(--header-color);
    border-bottom-width: 1px;
    border-bottom-color: var(--border-color);
    border-bottom-style: solid;
    width: 100%;
    height: var(--header-height);

    & .container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    & .leftSet {
        display: flex;
        align-items: center;
        padding: 0px 15px 0px;

        & .carbonbond {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 30px;
            font-weight: bold;
            & img {
                cursor: pointer;
                /* width: 125px;
                height: var(--header-height); */
            }
            & .imageText {
                width: 80px;
            }
            & .imageIcon {
                width: 40px;
            }
        }
        & .location {
            color: var(--light-font-color);
            font-size: 18px;
            margin-left: 10px;
            cursor: pointer;
            width: auto;
            white-space: nowrap;
        }
    }
    & .middleSet {
        flex: 1;
    }
    & .rightSet {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        & .wrap {
            position: relative;
            display: flex;
            align-self: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            & .userInfo:hover {
                background-color: var(--hover-background-color);
            }
            & .userInfo {
                min-width: var(--user-info-min-width);
                padding-left: 15px;
                padding-right: 15px;
                height: 100%;
                display: flex;
                align-self: center;
                align-items: center;
                & img {
                    height: 48px;
                    width: 48px;
                }
                & .userName {
                    margin-left: 10px;
                    color: var(--font-color);
                }
                & .energy {
                    margin-left: 12px;
                }
            }
            & .dropdown {
                border: var(--border-color) solid 1px;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
                & .features {
                    & a {
                        color: inherit;
                        text-decoration: none;
                    }
                    background-color: var(--background-color);
                    font-size: 18px;
                    & .row:hover {
                        background-color: var(--hover-background-color);
                    }
                    & .row {
                        padding: 5px 0px;
                        cursor: pointer;
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
            }
            & .login {
                cursor: pointer;
                font-size: 120%;
                text-align: center;
                align-items: center;
                display: flex;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}
.space {
    min-width: 25px;
}


.icon {
    height: 100%;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 24px;
    position: relative;
}
.icon:hover {
    background-color: var(--hover-background-color);
}
.unreadCount {
    border-radius: 8px;
    height: 16;
    width: 16;
    font-size: 16;
    background-color: pink;
    position: absolute;
    text-align: center;
    top: 35px;
    left: 15;
}
.notificationDropdown {
    right: -100px;
    width: 400px;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden; /* 避免右卷軸把寬度撐開而顯現出下卷軸 */
    max-height: calc(0.9 * (100vh - var(--header-height)));
    background-color: var(--background-color);
}