:root {
    --user-info-min-width: 160px;
}
.header {
    background-color: var(--header-color);
    border-bottom-width: 1px;
    border-bottom-color: var(--border-color);
    border-bottom-style: solid;
    width: 100%;
    height: var(--header-height);

    & .container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    & .leftSet {
        display: flex;
        align-items: center;
        padding: 0px 15px 0px;
        height: 100%;

        & .carbonbond {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 30px;
            font-weight: bold;
            & img {
                cursor: pointer;
            }
            & .imageText {
                width: 80px;
            }
            & .imageIcon {
                width: 40px;
            }
        }
    }
    & .middleSet {
        flex: 1;
    }
    & .rightSet {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        & .wrap {
            position: relative;
            display: flex;
            align-self: center;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            & .userInfo:hover {
                background-color: var(--hover-background-color);
            }
            & .userInfo {
                min-width: var(--user-info-min-width);
                padding-left: 15px;
                padding-right: 15px;
                height: 100%;
                display: flex;
                align-self: center;
                align-items: center;
                & .userName {
                    margin-left: 10px;
                    color: var(--font-color);
                }
                & .energy {
                    margin-left: 12px;
                }
            }
            & .dropdown {
                border: var(--border-color) solid 1px;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
                & .features {
                    & a {
                        color: inherit;
                        text-decoration: none;
                    }
                    background-color: var(--background-color);
                    font-size: 18px;
                }
            }
            & .login {
                cursor: pointer;
                font-size: 120%;
                text-align: center;
                align-items: center;
                display: flex;
                padding-left: 18px;
                padding-right: 18px;
                @media only screen and (max-width: 600px) {
                    height: 65%;
                    font-size: 14px;
                    border-radius: 8px;
                    background-color: var(--theme-color);
                    color: var(--background-color);
                    margin-right: 10px;
                }
            }
        }
    }
}
.location {
    color: var(--light-font-color);
    font-size: 18px;
    margin-left: 18px;
    cursor: pointer;
    width: auto;
    white-space: nowrap;
}
.row {
    padding: 5px 0px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    & .space {
        min-width: 12px;
    }
}
.row:hover {
    background-color: var(--hover-background-color);
}
.avatar {
    height: 90%;
    width: auto;
    margin-right: 8px;
    @media only screen and (max-width: 600px) {
        border-radius: 100%;
    }
}
.icon {
    height: 100%;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 24px;
    position: relative;
}
.icon:hover {
    background-color: var(--hover-background-color);
}