# build
/target
**/*.rs.bk

# db
data/**

# editor
*.swo
*.swp
.vscode/
*~
.*~

# node
node_modules/

# log
**/*.log

# temp files
.db_tool_history

# chitin-codegen
api_trait.rs

# jest coverage
frontend/coverage/
