[Unit]
Description=carbonbond.cc

[Service]
ExecStart=/carbonbond/target/release/server
Environment="RUST_LOG=debug"
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=carbonbond
Restart=always

[Install]
WantedBy=multi-user.target
