[Unit]
Description=carbonbond.cc

[Service]
ExecStart=/carbonbond/target/release/server
Environment="RUST_LOG=debug"
StandardOutput=/var/log/carbonbond.log
Restart=always

[Install]
WantedBy=multi-user.target
