/* 製造一個空間，讓
position: fixed 的 menubar
可以覆蓋其上 */
.menubarShell {
    width: var(--menubar-width);
}
.menubar {
    position: fixed;
    height: calc(100vh - var(--header-height));
    background-color: var(--bar-color);
    width: var(--menubar-width);
    border-right-width: 1px;
    border-right-color: var(--border-color);
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: 28px;
    & .topSet {
        width: 100%;
        & .icon {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: var(--menubar-width);
            cursor: pointer;
        }
    }
    & .topSet > .icon:hover {
        background-color: var(--hover-background-color);
    }
    & .bottomSet {
        width: 100%;
        & .icon {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: var(--menubar-width);
            cursor: pointer;
        }
    }
    & .bottomSet > .icon:hover {
        background-color: var(--hover-background-color);
    }
    & .isCurrent {
        background-color: var(--light-gray);
        border-left: 4px var(--gray) solid;
    }
}

@media only screen and (max-width: 600px) {
    .menubar {
        height: 100vh;
        font-size: 28px;
        z-index: 600;
        & .icon {
            padding: 28px 0px;
        }
    }
}

/* 類似於 menubarShell */
.panelShell {
    width: var(--left-panel-width);
}
.panel {
    background-color: var(--background-color);
    width: var(--left-panel-width);
    height: calc(100vh - var(--header-height));
    position: fixed;
    left: var(--menubar-width);
    border-right-width: 1px;
    border-right-color: var(--border-color);
    border-right-style: solid;
    z-index: 100;
}

@media only screen and (max-width: 1200px) {
    .panelShell {
        width: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .panel {
        height: 100vh;
        position: absolute;
        width: 70vw;
        z-index: 600;
    }
}
