.browseBar {
    height: 100%;
    display: grid;
    transition: .2s;
    & .special {
        & div {
            padding: 4px 5%;
            font-size: 16px;
            cursor: pointer;
        }
        & div:hover {
            background-color: var(--hover-background-color);
        }
        & .specialBlock {
            display: inline-block;
            color: var(--font-color);
        }
    }
}
.title {
    background-color: var(--sub-theme-color);
    color: var(--font-color);
    padding: 2px;
    cursor: pointer;
    margin-bottom: 1px;
    padding-left: 5%;
}
.boardBlock {
    height: 40px;
    display: inline-block;
    width: 100%;
    color: var(--font-color);
    padding: 3px 10px;
    & .boardInfo {
        display: flex;
        flex-direction: row;
        & .boardType {
            flex: 1;
            color: var(--green);
            margin-left: 5px;
        }
    }
    & .boardTitle {
        font-size: 12px;
    }
}
.boardBlock:hover {
    background-color: var(--hover-background-color);
}
