.chatbar {
    display: flex;
    flex-direction: column;
    & .chatUnit {
        cursor: pointer;
        height: 46px;
        border: 1px #DDDDDD solid;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 4px;
        padding-right: 4px;
        & .upSet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            & .title {
                & .name {
                    font-size: 18px;
                }
                & .channel {
                    font-size: 14px;
                    color: #882288;
                }
            }
            & .date {
                font-size: 13px;
                color: #666666;
                & .circle {
                    color: #00F100;
                }
            }
        }
        & .downSet {
            & .lastMessage {
                font-size: 13px;
                height: 17px;
                color: #5a5a5a;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            & .unreadChannels {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                & .allRead {
                    font-style: italic;
                    font-size: 13px;
                    color: #5a5a5a;
                }
                & .channel {
                    font-weight: normal;
                    margin-right: 1px;
                    padding-left: 3px;
                    padding-right: 3px;
                    font-size: 13px;
                    border-radius: 9px;
                    background-color: #DD99DD;
                }
            }
        }
    }
    & .chatUnit:hover {
        background-color: var(--lightest-gray);
    }
    & .bold {
        font-weight: bold;
        background-color: var(--lightest-gray);
    }
}