.noTitle {
    color: var(--light-font-color);
}
.draftBar {
    display: flex;
    flex-direction: column;
    & .barName {
        background: var(--sub-theme-color);
    }
    & .draft {
        cursor: pointer;
        height: 38px;
        border: 1px var(--light-gray) solid;
        display: flex;
        flex-direction: row;
        & .info {
            flex-grow: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            display: block;
            overflow: hidden;
            & .title {
                text-overflow: ellipsis;
                white-space: nowrap;
                color: var(--font-color);
            }
            & .meta {
                font-size: 12px;
                color: var(--light-font-color);
            }
        }
        & .buttons {
            margin-left: 5px;
            margin-right: 5px;
            flex-shrink: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
	}
    & .draft:hover {
        background-color: var(--third-theme-color);
    }
}