.menubarInner {
    position: fixed;
    height: 100%;
    background-color: var(--bar-color);
    width: var(--menubar-width);
    border-right-width: 1px;
    border-right-color: var(--border-color);
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & .topSet {
        width: 100%;
        & .icon {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: var(--menubar-width);
            font-size: 28px;
            cursor: pointer;
        }
    }
    & .topSet > .icon:hover {
        background-color: var(--hover-background-color);
    }
    & .bottomSet {
        width: 100%;
        & .icon {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: var(--menubar-width);
            font-size: 28px;
            cursor: pointer;
        }
    }
    & .bottomSet > .icon:hover {
        background-color: var(--hover-background-color);
    }
}


@media only screen and (max-width: 1200px) {
    .panel {
        left: var(--menubar-width);
        position: absolute;
    }
}

.panel {
    background-color: var(--background-color);
    z-index: 100;
    height: calc(100vh - var(--header-height));
    position: fixed;
    width: 300px;
    border-right-width: 1px;
    border-right-color: var(--border-color);
    border-right-style: solid;
}