.footer {
    display: flex;
    border-top: 1px var(--lightest-gray) solid;
    & .iconBlock {
        position: relative;
        flex: 1;
        & .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}