.articlePage {
    background-color: var(--main-color);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    height: 1000px;
    .reply {
        cursor: pointer;
    }
    .cantReply {
        color: gray;
    }
}