.boardList {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    & > div {
        width: 100%;
        background-color: var(--background-color);
        & .boardBlock:not(:first-child) {
            border-top: 0px;
        }
        & .boardBlock:hover {
            background: var(--hover-background-color)
        }
        & .boardBlock {
            border: 1px var(--lighter-gray) solid;
            width: 100%;
            padding: 5px;
            & .info {
                display: flex;
                flex-direction: row;
                & .name {
                    color: black;
                    font-size: 16px;
                }
                & .type {
                    flex: 1px;
                    color: var(--green);
                    margin-left: 5px;
                }
            }
            & .title {
                color: black;
                font-size: 12px;
            }
        }
    }
}