.boardHeader {

    height: 100%;
    display: flex;
    flex-direction: column;    
    justify-content: flex-end;
    padding: 10px;
    position: relative;

    & .headerLeft {
        & .boardTitle {
            padding: 10px;
            font-size: 30px;
        }
        & .boardSubTitle {
            padding: 10px;
        }
    }

    & .headerRight {
        padding: 10px;
        position: absolute;
        bottom: 0px;
        right: 0px;
        
        color: #4b4b4b;

        & .dataBox {
            display: flex;
            
            & .dataBoxItem {
                padding: 0px 20px;

                & .number {
                    text-align: center;
                    font-size: 24px;
                    margin-bottom: 5px;
                }

                & .text {
                    text-align: center;
                }
            }

            & .dataBoxItem:not(:last-child) {
                border-right: 2px #4b4b4b solid;
            }
        }
    }
}

.articleWrapper {
    padding: 20px 20px 10px 20px;
    display: block;
    position: relative;
}
.articleWrapper:not(:first-child) {
    padding: 10px 20px 20px 20px;
    
}
.articleContainer {
    background-color: #fafafa;
    overflow: hidden;
    width: 100%;
    max-width: 1150px;
    padding: 14px 20px;
    color: #616569;
}
.articleHeader {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    & .authorId {
        margin-right: 6px;
        text-decoration: underline;
    }
    & .articleBoard {
        margin-left: 6px;
        text-decoration: underline;
    }
    & .authorId:hover {
        cursor: pointer;
        color: #0366d6;
    }
    & .articleBoard:hover {
        cursor: pointer;
        color: #0346a6;
    }
    & .seperationDot {
        margin: 0px 4px;
    }
    & .articleTime { }
}
.articleBody {
    display: flex;
    width: 100%;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 14px;
}
.leftPart {
    display: block;
    width: 100%;
}
.firstLine {
    color: black;
    margin: 10px 0px;
    & .articleType {
        position: relative;
        bottom: 1px;
        border: 1px solid;
        padding: 1px 3px;
        border-radius: 2px;
        font-weight: bold;
        font-size: 16px;
        margin-right: 8px;
    }
    & .articleTitle {
        font-size: 20px;
        font-weight: bold;
    }
}
.articleContent {
    color: #414549;
    font-size: 16px;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.articleFooter {
    width: 100%;
    display: flex;
}
.articleBtns {
    display: flex;
}
.articleBtnItem {
    display: flex;
    white-space: nowrap;
    margin-right: 10px;
    cursor: pointer;
    padding: 3px;

    align-items: center;
    font-size: 14px;
    border-radius: 4px;

    & i {
        margin-right: 3px;
    }
}
.articleBtnItem:hover {
    background-color: #d9d9d9;
}

.num {
    margin-right: 2px;
}
.rightSidebarItem {
    padding: 10px 0px;
}

.rightSidebarButton {
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.postArticleButton {
    background-color: #e51a30;
    color: #fafafa;
}

.trackBoardButton {
    border: 2px #e51a30 solid;
    color: #e51a30;

}

.showPartyButton {
    border: 2px #9e9e9e solid;
    color: #9e9e9e;

}

.rightSidebarBlock {
    background-color: #fafafa;
    padding: 15px;
    color: #333;

    & .header {
        font-size: 24px;
    }

    & .content {
        padding: 15px 2px;

        & .partyItem {
            display: flex;
            padding: 5px 0px;

            & .partyTitle {
                flex: 1;
            }

            & .partyName {
                flex: 2;
            }

            & .partyScore {
                flex: 1;
                color: #e59b1a;
                font-weight: 300;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                & .logo {
                    height: 1em;
                    padding: 0px 5px;
                }
            }
        }

        & .mainPartyItem {
            color: #e51a30;
            font-weight: bold;
        }
    }
}