ul {
    /* FIXME: 直接對標籤做事會汙染所有元件 */
    width: 100%;
}
.article-title:first-child {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.article-title {
    padding: 30px 15px;
    border-bottom: 1px solid lightgray;
}

.board-content {
    background-color: var(--main-color);
}