/* 在 chatContent 之中 */
.DialogBlock {
    .meta {
        .who {
            font-weight: bold;
        }
        .date {
            font-size: 12px;
            color: #888888;
            margin-left: 5px;
        }
    }
    .content {
        margin-top: 4px;
        font-size: 14px;
    }
    margin-bottom: 6px;
}

.bottomPanel {
    position: fixed;
    right: 20px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .singlePanel {
        margin-right: 8px;
        border: 1px #DDDDDD solid;
    }
    .title {
        background: cadetblue;
        border: 1px #DDDDDD solid;
        height: 30px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .chatPanel {
        width: 300px;
        .roomTitle {
            .leftSet {
                font-size: 18px;
                margin-left: 4px;
            }
            .middleSet {
                flex-grow: 1;
                height: 100%;
            }
            .rightSet {
                font-size: 22px;
                margin-right: 4px;
                display: flex;
                flex-direction: row;
                .button {
                    margin-left: 4px;
                }
            }
        }
        .chatContent {
            padding: 4px;
            background: white;
            border: 1px #DDDDDD solid;
            height: 320px;
            display: flex;
            flex-direction: column;
            overflow: scroll;
        }
        .inputBar {
            background: #F1F1F1;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 34px;
            padding-right: 4px;
            .nonText {
                cursor: pointer;
                font-size: 22px;
                margin-left: 4px;
            }
            input {
                flex-grow: 1;
                margin-left: 4px;
                border-radius: 10px;
                text-indent: 5px;
                height: 28px;
            }
        }
    }

    .editorPanel {
        background: #F1F1F1;
        width: 500px;
        .leftSet {
            font-size: 18px;
            margin-left: 4px;
        }
        .middleSet {
            height: 100%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .rightSet {
            font-size: 22px;
            margin-right: 4px;
            display: flex;
            flex-direction: row;
            .button {
                margin-left: 4px;
            }
        }
        .editorBody {
            height: 400px;
            display: flex;
            flex-direction: column;
            .oneLineInput{
                display: block;
                height: 30px;
            }
            .articleContent {
                display: block;
                flex: 1;
                resize: none;
            }
        }
    }
}