:root {
    --room-width: 300px;
}
.roomWidth {
    width: var(--room-width);
}

.dialogs {
    width: var(--room-width);
    height: 320px;
    padding: 4px;
    background: white;
    border: 1px #DDDDDD solid;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.inputBar {
    background: #F1F1F1;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 34px;
    padding-right: 4px;
    position: relative;
    & .nonText {
        cursor: pointer;
        font-size: 22px;
        margin-left: 4px;
        & .emojiPicker {
            position: absolute;
            bottom: 40px;
            transform: translateX(-50%);
        }
        & .loading {
            position: absolute;
            bottom: 40px;
            background: white;
            border: 1px #888888 solid;
            transform: translateX(-50%);
        }
    }
    & input {
        flex-grow: 1;
        margin-left: 4px;
        border-radius: 10px;
        text-indent: 5px;
        height: 28px;
    }
}
/* 在 chatContent 之中 */
.DialogBlock {
    & .meta {
        & .who {
            font-weight: bold;
        }
        & .date {
            font-size: 12px;
            color: #888888;
            margin-left: 5px;
        }
    }
    & .normal {
        word-break: break-all;
        margin-top: 4px;
        font-size: 15px;
        & a:hover {
            text-decoration: underline;
        }
    }
    & .emojis {
        font-size: 35px;
    }
    & .image {
        & img {
            max-width: 100%;
            max-height: 100%;
        }
        width: calc(var(--room-width ) - 20px)
    }
    margin-bottom: 6px;
}

.bottomPanel {
    position: fixed;
    right: 20px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    & .singlePanel {
        margin-right: 8px;
        border: 1px #DDDDDD solid;
    }
    & .title {
        background: cadetblue;
        border: 1px #DDDDDD solid;
        height: 30px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    & .chatPanel {
        & .roomTitle {
            & .leftSet {
                font-size: 18px;
                margin-left: 4px;
            }
            & .middleSet {
                flex-grow: 1;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            & .rightSet {
                font-size: 22px;
                margin-right: 4px;
                display: flex;
                flex-direction: row;
                .button {
                    margin-left: 4px;
                }
            }
        }
        & .panelContent {
            display: flex;
            flex-direction: row;
            & .channels {
                width: 160px;
                font-size: 15px;
                padding-top: 6px;
                padding-bottom: 6px;
                & .channelControl {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 8px;
                    padding-left: 6px;
                    padding-right: 6px;
                    & .leftSet {

                    }
                    & .rightSet {
                        cursor: pointer;
                    }
                }
                & .channelList {
                    & .selected {
                        background: #E5E5E5;
                    }
                    & .channel {
                        cursor: pointer;
                        & .channelSymbol {
                            font-size: 17px;
                            font-weight: bold;
                        }
                        padding: 1px 6px;
                    }
                }
            }
            & .chatContent {
            }
        }
    }

    & .editorPanel {
        background: #F1F1F1;
        width: 500px;
        & .leftSet {
            font-size: 18px;
            margin-left: 4px;
        }
        & .middleSet {
            height: 100%;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        & .rightSet {
            font-size: 22px;
            margin-right: 4px;
            display: flex;
            flex-direction: row;
            & .button {
                margin-left: 4px;
            }
        }
        & .editorBody {
            height: 550px;
            max-height: 70vh;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            & .editorInnerBody {
                display: flex;
                flex-direction: column;
                height: 100%;
            }
            & .articleContent {
                display: flex;
                flex-direction: column;
                flex: 1;
            }
            & .oneLineInput {
                width: 100%;
                display: block;
                min-height: 30px;
            }
            & .inValid {
                box-shadow: 0px 0px 3px 0px red;
            }
            & .textInput {
                display: block;
                overflow-y: auto;
                width: 100%;
                resize: none;
                flex: 1;
                min-height: 70%;
            }
            & .colLabel {
                margin-top: 5px;
            }
            & .articleMeta {
                min-height: 30px;
                display: flex;
                flex-direction: row;
                & .test {
                    background-color: blue;
                }
                & .articleTitle {
                    height: 100%;
                    flex: 1;
                }
            }
        }
    }
}