.browseBar {
    height: 100%;
    display: grid;
    transition: .2s;
    & .special {
        & div {
            padding: 4px 5%;
            font-size: 16px;
            cursor: pointer;
        }
        & div:hover {
            background-color: var(--hover-background-color);
        }
    }
}
.title {
    background-color: var(--sub-theme-color);
    color: var(--font-color);
    padding: 2px;
    cursor: pointer;
    margin-bottom: 1px;
    padding-left: 5%;
}
.boardBlock {
    height: 40px;
    display: inline-block;
    width: 100%;
    color: var(--font-color);
    & .boardName {
        margin-top: 2px;
        margin-left: 5%;
        display: inline-block;
        margin-right: auto;
    }
    & .boardHeat {
        margin-top: 2px;
        margin-right: 5%;
        display: block;
        float: right;
    }
    & .boardTitle {
        font-size: 12px;
        margin-top: 3px;
        margin-left: 10px;
    }
}
.boardBlock:hover {
    background-color: var(--hover-background-color);
}
