.browseBar {
    height: 100%;
    display: grid;
    transition: .2s;
}
.title {
    background-color: rgb(180, 180, 180);
    color: white;
    padding: 2px;
    cursor: pointer;
    margin-bottom: 1px;
    text-align: center;
}
.boardBlock {
    height: 40px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    color: gray;
    .boardName {
        display: inline-block;
        margin-right: auto;
    }
    .boardHeat {
        display: block;
        float: right;
    }
    .boardTitle {
        font-size: 12px;
        margin-top: 3px;
        margin-left: 10px;
    }
}
.boardBlock:hover {
    background-color: #F4F4F4;
}
