* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
h1 {
    margin: 0;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #e0e0e0;
    --bar-color: #fafafa;
    --left-main-color: #fafafa;
    --main-color: #fafafa;
    --cname-color: #fafafa;
}