* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}
h1 {
    margin: 0;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: var(--lower-background-color);
}