.header {
    background-color: var(--bar-color);
    border-bottom-width: 1px;
    border-bottom-color: #DDDDDD;
    border-bottom-style: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .leftSet {
        margin-left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        .carbonbond {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 30px;
            font-weight: bold;
            img {
                margin-right: 10px;
                cursor: pointer;
                width: 36px;
                height: 36px;
            }
        }
        .location {
            color: blueviolet;
            font-size: 18px;
            margin-left: 35px;
        }
    }
    .middleSet {
        flex-grow: 0.85;
        display: flex;
        align-items: center;
        input {
            line-height: 28px;
            width: 100%;
        }
    }
    .rightSet {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        .icon {
            cursor: pointer;
            padding: 5px;
            display: flex;
            align-items: center;
            font-size: 24px;
        }
        .icon:hover {
            background-color: #F4F4F4;
        }
        .wrap {
            display: flex;
            align-self: center;
            position: relative;
            justify-content: center;
            .userInfo:hover {
                background-color: #F4F4F4;
            }
            .userInfo {
                margin-left: 20px;
                margin-right: 10px;
                cursor: pointer;
                width: 160px;
                height: 80%;
                display: flex;
                align-self: center;
                align-items: center;
                .image {
                    font-size: 40px;
                }
                .userName {
                    margin-left: 5px;
                    color: brown;
                }
                .energy {
                    margin-left: 12px;
                }
            }
            .dropdown {
                width: 85%;
                position: absolute;
                top: 50px;
                display: flex;
                flex-direction: column;
                .triangle {
                    align-self: center;
                    position: relative;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 15 15 15;
                    border-color: transparent transparent #FFDDAA transparent;
                }
                .features {
                    padding-top: 15px;
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-bottom: 5px;
                    border: #DDDDDD solid 1px;
                    display: flex;
                    flex-direction: column;
                    .feature:hover {
                        background-color: #F4F4F4;
                    }
                    .feature {
                        cursor: pointer;
                        font-size: 18px;
                        margin-bottom: 10px;
                    }
                }
            }
            .login {
                cursor: pointer;
                font-size: 120%;
                text-align: center;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

.loginModal {
    width: 40%;
    height: 260px;
    background-color: white;
    border: #DDDDDD 1px solid;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .escape {
        cursor: pointer;
        font-size: 28px;
        position: absolute;
        top: -14px;
        right: -14px;
        color: red;
    }
    input {
        position: relative;
        width: 70%;
        height: 40px;
        margin: 10px;
    }
    button {
        margin-top: 10px;
    }
}