.header {
    background-color: var(--header-color);
    border-bottom-width: 1px;
    border-bottom-color: var(--lower-background-color);
    border-bottom-style: solid;
    width: 100%;
    height: 60px;

    & .container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    & .leftSet {
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        & .carbonbond {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 30px;
            font-weight: bold;
            & img {
                margin-right: 10px;
                cursor: pointer;
                width: 125px;
                height: 60px;
            }
        }
        & .location {
            color: var(--light-font-color);
            font-size: 18px;
            margin: 0 48px;
            cursor: pointer;
            width: auto;
            white-space: nowrap;
        }
        & .searchPart {
            line-height: 40px;
            cursor: text;
            height: 40px;
            width: 500px;
            border-radius: 3px;
            border: 1px solid var(--border-color);
            background: var(--background-color);

            padding: 0 14px;
            position: relative;

            &:empty:before{
                content: '搜尋全站';   /* element attribute*/
                /*content: 'this is content';*/
                height: 100%;
                width: 100%;
                background-image: url(/img/search.png);
                background-repeat: no-repeat;
                background-position: 0 center;

                position: absolute;
                left: 14px;
                top: 0;
                color: var(--light-font-color);

                display: flex;
                padding-left: 30px;
            }

            &:focus:before{
                content:none;
            }
        }

    }
    & .rightSet {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        Width: 100%;

        & .icon {
            cursor: pointer;
            padding: 5px;
            display: flex;
            align-items: center;
            font-size: 24px;
        }
        & .icon:hover {
            background-color: var(--hover-background-color);
        }
        & .wrap {
            display: flex;
            align-self: center;
            position: relative;
            justify-content: center;
            & .userInfo:hover {
                background-color: var(--hover-background-color);
            }
            & .userInfo {
                margin-left: 20px;
                margin-right: 10px;
                cursor: pointer;
                width: 160px;
                height: 80%;
                display: flex;
                align-self: center;
                align-items: center;
                & img {
                    height: 48px;
                    width: 48px;
                }
                & .userName {
                    margin-left: 10px;
                    color: var(--font-color);
                }
                & .energy {
                    margin-left: 12px;
                }
            }
            & .dropdown {
                width: 85%;
                position: absolute;
                top: 50px;
                display: flex;
                flex-direction: column;
                z-index: 100;
                & .triangle {
                    align-self: center;
                    position: relative;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 15 15 15;
                    border-color: transparent transparent var(--third-theme-color) transparent;
                }
                & .features {
                    /* padding-left: 15px;
                    padding-right: 15px; */
                    padding: 2px 0px;
                    align-items: center;
                    border: var(--border-color) solid 1px;
                    display: flex;
                    flex-direction: column;
                    background-color: var(--background-color);
                    & .feature:hover {
                        background-color: var(--hover-background-color);
                    }
                    & .feature {
                        width: 100%;
                        padding: 5px 0px 5px 15px;
                        cursor: pointer;
                        font-size: 18px;
                    }
                }
            }
            & .login {
                cursor: pointer;
                font-size: 120%;
                text-align: center;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

.loginModal {
    width: 40%;
    height: 260px;
    background-color: var(--background-color);
    border: var(--border-color) 1px solid;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    & .escape {
        cursor: pointer;
        font-size: 28px;
        position: absolute;
        top: -14px;
        right: -14px;
        color: red;
    }
    & input {
        position: relative;
        width: 70%;
        height: 40px;
        margin: 10px;
    }
    & button {
        margin-top: 10px;
    }
}