.app {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40px 300px auto;
    grid-template-rows: 50px 1fr;
    .header {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: antiquewhite;
    }
    .menubar {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: #333399;
    }
    .sidebar {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: yellowgreen;
    }
    .mainContent{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}


