/* NOTE: 不要在這裡寫 margin，會跟 CSS grid 產生難以預期的交互作用 */
.app {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 60px minmax(0, 1fr);
    & .header {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    & .other {
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        flex-direction: row;
        position: relative;
        overflow-y: hidden;
        & .mainBody {
            overflow-y: auto;
            height: 100%;
            flex: 1;
            & .forumBody {
                width: 100%;
                height: 100%;
                
                & .switchHeader {
                    height: 80px;
                    width: 100%;
                    background-color: var(--background-color);
                }
                
                & .switchContent {
                    width: 100%;
                    display: flex;
                    /* flex-direction: row; */
                    justify-content: center;

                    & .mainContent {
                        max-width: 600px;
                        width: 100%;
                    }
                }
            }
        }
    }
}
.rightSideBar {
    padding: 10px 20px;
    width: 335px; /* XXX: 為何寫死？ */
}