.ruling {
    display: inline-block;
    margin-left: 5px;
    width: 20px;
    color: gray;
}
.partyLabel {
    display: inline-flex;
    flex: 1;
    color: gray;
}
.boardName {
    margin-bottom: 0;
    margin-top: 20px;
    color: #ddd;
}