.up {
    background: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px var(--border-color) solid;
}

.profileOverviewWrap {
    width: 67%;
}

.profileActionWrap {
    width: 150px;
    padding: 30px 0px;
}

.account {
    display: flex;
    flex-direction: row;
    justify-content: center;
    & .avatarContainer {
        margin: 30px 20px;
        width: 144px;
        height: 144px;
        position: relative;
    }
    & .abstract {
        width: 300px;
        margin: 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & .username {
            font-size: 32px;
        }
        & .sentence {
            font-size: 20px;
            & button {
                margin-left: 15px;
                font-size: 14px;
            }
        }
        & .noSentence {
            font-size: 20px;
            font-style: italic;
            color: var(--disabled-color);
            & button {
                margin-left: 15px;
                font-size: 14px;
            }
        }
    }
}

.relationdata {
    justify-content: space-between;
    font-size: 16px;
    & .icon {
        margin-right: 6px;
    }
    & .energy { }
    & div:not(:first-child) {
        margin-top: 3px; 
    }
    & .follow {
        & .relationLink {
            color: var(--gray);
            cursor: pointer;
        }
        & .relationLink:hover {
            color: var(--blue);
        }
    }
    & .hate {
        & .relationLink {
            color: var(--gray);
            cursor: pointer;
        }
        & .relationLink:hover {
            color: var(--blue);
        }
    }
}

.operation {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: space-between;
    width: 100%;
    & .links {
        display: flex;
        flex-direction: column;
        & > :not(:first-child) {
            margin-top: 10px;
        }
        & button:hover {
            cursor: pointer;
        }
        & .personalBoard {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            border: 1px solid var(--border-color);
            padding: 2px;
            border-radius: 3px;
        }
        & .personalBoard:hover {
            background: var(--lightest-gray);
        }
    }
}

.down {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    min-height: 1000px;
    & .works {
        width: 67%;
        & .navigateBar {
            width: 600px;
            margin: 10px auto 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            font-size: 20px;
            & .navigateTab {
                cursor: pointer;
                padding: 0px 40px;
                border-bottom: 1px solid var(--border-color);
            }
            & .navigateTabActive {
                font-weight: bold;
                border-bottom: 2px solid var(--blue);
            }
        }
        & .content {
            width: 600px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
.profileDetailWrap {
    margin-top: 20px;
    width: 300px;
}

.detail {
    display: flex;
    flex-direction: column;
    & > div > div:not(:first-child) {
        border-top: 1px solid var(--border-color);
    }
    & > div > div {
        padding: 6px 0px;
    }
    /* width: 300px; */
    padding: 10px;
    background: var(--background-color);
    font-size: 14px;
    & .editButton {
        align-self: center; 
        cursor: pointer;
    }
    & .introduction {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        & .title {
            flex-grow: 1;
        }
        & .editButton {}
    }
    & .info {
        & .item {
            margin: 10px 0px;
            & .key{
                font-weight: bold;
            }
        }
    }
    & .titleLabel {
        margin: 0px 5px 0px 0px;
    }
    & .titleCertificate {
        & .item {
            margin: 0px 0px 5px;
        }
        & .titleBlock {
            background-color: var(--lighter-gray);
            border-radius: 3px;
            display: inline-block;
            padding: 2px 5px 2px 2px;
            & .titleImage {
                width: 16px;
                height: 16px;
                vertical-align: middle;
            }
            & .titleText {
                margin-left: 4px;
                vertical-align: middle;
            }
        }
    }

}

.editModal {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    & .label {
        position: relative;
        width: 100%;
        margin: 5px 0px 0px;
    }
    & textarea {
        position: relative;
        width: 100%;
        height: 120px;
        margin: 0px 0px 5px;
        resize: none;
    }
    & input[type="text"] {
        position: relative;
        width: 100%;
        height: 40px;
        margin: 0px 0px 5px;
    }
    & input[type="radio"] {
        float: left;
        clear: none;
        margin: 2px 0 0 2px;
    }
    & .gender {
        float: left;
        clear: none;
        & label {
            float: left;
            clear: none;
            display: block;
            padding: 0px 1em 0px 8px;
        }
    }
}

.relationEditComponent {
    width: 100%;
    & button {
        width: 100%;
    }
}

.relationEditModal {
    margin: 10px 0px 0px;
    & label {
        display: block;
        margin-bottom: 10px;
    }
}

.userListContainer {
    width: 480px;
    height: 280px;
    overflow-y: auto;
    padding: 10px 0px;
    & .navigateBar {
        margin: 10px auto 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        font-size: 20px;
        & .navigateTab {
            padding: 0px 40px;
            cursor: pointer;
            padding: 0px 40px;
            border-bottom: 1px solid var(--border-color);
        }
        & .navigateTabActive {
            font-weight: bold;
            border-bottom: 2px solid var(--blue);
        }
        & .navigateTabDisable {
            padding: 0px 40px;
            color: gray;
            border-bottom: 1px solid var(--border-color);
        }
    }
    & .content {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & .emptyContainer {
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.friendshipWrapper {
    display: inline-block;
    width: 50%;
    padding: 10px 10px;
}