.userContainer {
    display: flex;
    flex-direction: row;
    border: 1px var(--lighter-gray) solid;
    padding: 7px 10px;
    position: relative;
    & .userAvatar {
        & img {
            width: 64px;
            height: 64px;
        }
    }
    & .userDetail {
        flex: 1;
        padding: 0px 0px 0px 10px;
        display: flex;
        flex-direction: column;
        & .userName {
            font-size: 20px;
            margin: 0px 0px 2px;
        }
        & .userSentence {
            font-size: 16px;
            height: 16px;
            color: var(--gray);
            margin: 0px 0px 4px;
        }
        & .userFooter {
            flex: 1;
            display: flex;
            flex-direction: row;
            & .userFooterItem {
                font-size: 12px;
                align-self: flex-end;
                & .num {
                    margin-right: 2px;
                }
            }
        }
    }
    & .overlay {
        position: absolute;
        left:0; top:0; bottom:0; right:0;
    }
}

.userContainer:hover {
    box-shadow: inset 0 0 5px var(--theme-color);
}