:root {
    --header-height: 60px;
    --footer-height: 48px;
    --menubar-width: 56px;

    --deep-gray: #212429;
    --gray: #616569;
    --lighter-gray: #aaaaaa;
    --light-gray: #e4e4e4;
    --lightest-gray: #f1f1f1;
    --white: #fafafa;
    --blue: #0366d6;
    --red: #d51a30;
    --light-red: #FFBBBF;
    --green: #017513;
    --light-green: #7EFF43;
    --orange: #f5aa30;
    --pink: #FFDDAA;

    --theme-color: var(--red);
    --sub-theme-color: var(--orange);
    --third-theme-color: var(--pink);

    --font-color: var(--deep-gray);
    --light-font-color: var(--gray);
    --reverse-font-color: var(--white);
    --light-reverse-font-color: #e9dffa;

    --disabled-color: var(--lighter-gray);

    --border-color: var(--light-gray);

    --link-color: var(--blue);

    --lower-background-color: var(--white);
    --bar-color: var(--white);
    --header-color: var(--white);
    --background-color: var(--white);
    --hover-background-color: var(--third-theme-color);
}