.wrap {
    position: relative;
    & .button {
        height: 100%;
        cursor: pointer;
    }
    & .dropDown {
        position: absolute;
        left: 0px;
        right: 0px;
        display: flex;
        flex-direction: column;
        align-content: center;
        z-index: 100;
        & .triangle {
            align-self: center;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid var(--third-theme-color);
        }
        & .body {
            align-self: center;
            position: relative;
        }
    }
}
