.title {
    background-color: var(--sub-theme-color);
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    & .leftSet {
        font-size: 18px;
        margin-left: 4px;
    }
    & .middleSet {
        flex-grow: 1;
        height: 100%;
        justify-content: center;
    }
    & .rightSet {
        font-size: 22px;
        margin-right: 4px;
        & .button {
            cursor: pointer;
            width: 25px;
        }
    }
}
.escape {
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    top: -14px;
    right: -14px;
    color: red;
}
.body {
    background: var(--background-color);
    padding: 0px 20px 10px;
}
.buttonBar {
    & button {
        margin: 0px 10px 0px 0px;
    }
}