:root {
    --input-height: 32px;
}
.editorPanel {
    background: var(--background-color);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    width: 500px;
    & .editorBody {
        height: 450px;
        max-height: 70vh;
        & .fields {
            padding: 0px 15px;
            & .field {
                margin-top: 20px;
                & input {
                    height: var(--input-height);
                    width: 100%;
                }
                & textarea {
                    width: 100%;
                    height: 150px;
                }
                & .textValueWrap {
                    border: 1px solid black;
                    padding: 4px;
                }
                & .deleteButton {
                    cursor: pointer;
                    margin-right: 5px;
                    color: var(--red);
                }
            }
        }
    }
}

.expandedEditorPanel {
    background: var(--background-color);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    width: 100vw;
    max-width: 800px;
    & .editorBody {
        height: 100vh;
        max-height: 550px;
        & .fields {
            padding: 0px 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            & .field {
                width: 100%;
                max-width: 600px;
                margin-top: 20px;
                & input {
                    height: var(--input-height);
                    width: 100%;
                }
                & input:hover {
                    background-color: rgb(238, 255, 249);
                    border: 1px solid rgb(14, 90, 90);
                }
                & input:focus {
                    background-color: rgb(238, 255, 249);
                    border: 3px solid rgb(14, 90, 90);
                }
                & textarea {
                    width: 100%;
                    height: 150px;
                }
                & textarea:hover {
                    background-color: rgb(238, 255, 249);
                    border: 1px solid rgb(14, 90, 90);
                }
                & textarea:focus {
                    background-color: rgb(238, 255, 249);
                    border: 3px solid rgb(14, 90, 90);
                }
                & .textValueWrap {
                    border: 1px solid black;
                    padding: 4px;
                }
                & .deleteButton {
                    cursor: pointer;
                    margin-right: 5px;
                    color: var(--red);
                }
            }
        }
    }
}

.bond {
    display: flex;
    flex-direction: row;
    font-size: 16px;
}

.editorBody {
    & .fields label {
        padding: 5px 10px 0px 10px;
        background-color: var(--deep-gray);
        color: var(--reverse-font-color);
        border-radius: 20% 20% 0 0;
        & .fieldName {
            margin-right: 10px;
        }
        & .dataType {
            color: var(--light-reverse-font-color);
        }
    }
    display: flex;
    flex-direction: column;

    & .form {
        flex: 1;
        overflow-y: auto;
    }
    & .buttonBar {
        height: 30px;
        font-size: 18px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px var(--light-gray) solid;
        & button {
            margin: 4px;
            cursor: pointer;
        }
        & .leftSet {
            display: flex;
            flex-direction: row;
            & .publish {
                width: 50px;
            }
            & .save {
                width: 50px;
            }
        }
        & .rightSet {
            display: flex;
            flex-direction: row;
        }
    }
}

.location {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--input-height);
    & .board {
        flex: 1;
    }
    & .category {
        flex: 1;
    }
    & .anonymous {
        margin: 7px 4px;
    }
}
.articleTitle {
    height: var(--input-height);
    width: 100%;
}

.bond {
    display: flex;
    flex-direction: row;
}
.field {
    margin: 20px;
}