.loginModal {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* disable reveal password icon from Edge and IE */
    & input::-ms-reveal {
        display: none;
    }
    & input {
        position: relative;
        height: 40px;
        background: none;
    }
    & .inputContainer {
        border: 1px solid var(--border-color);
        border-radius: 3px;
        margin-bottom: 10px;
        width: 280px;
        vertical-align: middle;
        & .password {
            border: 0px;
            width: 250px;
            float: left;
        }
        & .eye {
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        & .eye:hover {
            background-color: var(--hover-background-color);
        }
    }
    & .fogetPassword {
        margin-top: 3px;
        color: var(--light-font-color);
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer;
    }
}

.signupModal {
    width: 360px;
    height: 450px;
    position: relative;
    & .description {
        font-size: 14px;
        margin-top: 2px;
    }
    & .searchBar {
        width: 100%;
        margin: 2px 0px;
        display: flex;
        & input {
            flex: 1;
        }
    }
    & .searchResult {
        margin: 6px 0px;
        height: 200px;
        overflow-y: auto;
    }
    & .searchResultUnit {
        margin: 2px 0px;
    }
    & .message {
        color: red;
    }
    & .detail {
        border-radius: 10px;
        border: 0px;
        background: var(--third-theme-color);
    }
    & .bottom {
        position: absolute;
        bottom: 4px;
        font-size: 14px
    }
}
