.ruling {
    margin-left: 5px;
    width: 60px;
    color: var(--light-color-color);
}
.partyLabel {
    display: flex;
    flex: 1;
    color: var(--light-font-color);
}
.boardPartyBlock {
    margin-bottom: 0;
    margin-top: 20px;
}
.boardName {
    color: var(--font-color);
}
.partyColumn {
    display: flex;
    height: 32px;
    font-size: 16px;
    flex-direction: row;
    align-items: center;
}
.partyColumn:hover {
    background-color: var(--hover-background-color);
}
.listBody {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.partyIntroduction {
    margin-top: 30px;
    color: var(--font-color);
    font-size: 12px;
    & p {
        margin: 10px 0px;
    }
    & .declaration {
        margin: 15px 0px;
        color: var(--red);
        & ul {
            padding-left: 20px;
        }
    }
}
.createParty {
    color: var(--light-font-color);
    text-align: left;
    margin-top: 20px;
    cursor: pointer;
}
.createPartyInput {
    width: 100%;
}
