.tag {
    color: var(--sub-theme-color)
}
.notificationSeparater {
    border: none;
    border-top: 1px solid var(--light-gray);
    width: 80%;
    margin: 0 auto;
}
.notificationRow {
    font-size: 14px;
    & .notificationSpace {
        min-width: 20px;
    }
}
.notificationMessage {
    margin: 10px 0;
    flex: 1;
}
.time {
    color: var(--lighter-gray);
}
.row:hover {
    background-color: var(--hover-background-color);
}
.row {
    padding: 5px 0px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
}