.userContainer {
    display: flex;
    flex-direction: row;
    /* padding: 7px 10px; */
    position: relative;
    & .userAvatar {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        & img {
            /* border-radius: 100%; */
            height: 80px;
            width: 80px;
        }
    }
    & .userDetail {
        flex: 1;
        padding: 0px 0px 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & .userName {
            font-size: 24px;
        }
        & .userSentence {
            font-size: 14px;
            color: var(--gray-5);
        }
        & .userFooter {
            display: flex;
            flex-direction: row;
            & .userFooterItem {
                font-size: 14px;
                align-self: flex-end;
                & .num {
                    margin-right: 2px;
                }
            }
        }
    }
    & .overlay {
        position: absolute;
        left:0; top:0; bottom:0; right:0;
    }
}
