:root {
    --footer-animation-duration: 0.2s;
}

@keyframes breath {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0px 0px 1px 3px var(--sub-theme-color);
  }
}

.footerInit {
  z-index: 200;
  bottom: 0px;
}

.footerOpen {
  z-index: 400;
  bottom: calc(100% - var(--footer-height));
  animation: footerOpen var(--footer-animation-duration);
}

.footerClose {
  z-index: 200;
  bottom: 0px;
  animation: footerClose var(--footer-animation-duration);
}

@keyframes footerOpen {
  from {
    bottom: 0px;
  }
  to {
    bottom: calc(100% - var(--footer-height));
  }
}

@keyframes footerClose {
  from {
    bottom: calc(100% - var(--footer-height));
  }
  to {
    bottom: 0px;
  }
}

.footer {
  height: var(--footer-height);
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: rgba(200, 200, 200, 0.4);
  & .avatar {
    border-radius: 100%;
    height: 100%;
    width: auto;
  }
  & .unread {
    box-shadow: 0px 0px 1px 3px var(--sub-theme-color);
    animation: breath 2s infinite alternate-reverse;
  }
}

.panelInit {
  z-index: 200;
  height: 0px;
}

.panelOpen {
  z-index: 400;
  height: calc(100% - var(--footer-height));
  animation: panelOpen var(--footer-animation-duration);
}

.panelClose {
  z-index: 200;
  height: 0px;
  animation: panelClose var(--footer-animation-duration);
}

@keyframes panelOpen {
  from {
    height: 0px;
  }
  to {
    height: calc(100% - var(--footer-height));
  }
}

@keyframes panelClose {
  from {
    height: calc(100% - var(--footer-height));
  }
  to {
    height: 0px;
  }
}

.panel {
  width: 100%;
  position: fixed;
  bottom: 0px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: var(--background-color);
}

.panelInit {
  height: 0px;
}

.panelOpen {
  height: calc(100% - var(--footer-height));
  animation: panelOpen var(--footer-animation-duration);
}

.panelClose {
  height: 0px;
  animation: panelClose var(--footer-animation-duration);
}
