.partyDetail {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .partyName {
        font-size: 24px;
        color: var(--font-color);
    }
    & .boardName {
        font-size: 16px;
        color: var(--light-font-color);
        margin-left: 20px;
    }
    & .createBoardBlock {
        width: 600px;
        & .createButton {
            cursor: pointer;
        }
        margin-top: 20px;
    }
}
