.partyDetail {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .partyName {
        font-size: 24px;
        color: var(--font-color);
    }
    & .boardName {
        font-size: 16px;
        color: var(--light-font-color);
        margin-left: 20px;
    }
    & .createBoardBlock {
        width: 400px;
        & .createButton {
            cursor: pointer;
        }
        margin-top: 20px;
        & .form {
            display: flex;
            flex-direction: column;
            & input { margin-top: 15px; }
            & textarea { margin-top: 15px; }
        }
    }
}

.editModal {
    & textarea {
        position: relative;
        width: 100%;
        height: 120px;
        margin: 0px 0px 5px;
        resize: none;
    }
}