.articleHeader {
    color: var(--light-font-color);
    display: flex;
    width: 100%;
    font-size: 14px;
    justify-content: space-between;
    & .basicInfo {
        display: flex;
        & .authorId {
            position: relative;
            z-index: 10;
            color: var(--light-font-color);
            margin-right: 6px;
            text-decoration: underline;
        }
        & .anonymous {
            text-decoration: none;
        }
        & .articleBoard {
            position: relative;
            z-index: 10;
            color: var(--light-font-color);
            margin-left: 6px;
            text-decoration: underline;
        }
        & .authorId:hover {
            cursor: pointer;
            color: var(--link-color);
        }
        & .articleBoard:hover {
            cursor: pointer;
            color: var(--link-color);
        }
        & .seperationDot {
            margin: 0px 4px;
        }
        & .articleTime { }

    }
}

.bondLine {
    font-size: 16px;
    color: var(--gray);
    display: flex;
    justify-content: space-between;
    width: 100%;
    & .bondTag {
        margin-right: 8px;
    }
    & .leftSet {
        flex: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    & .rightSet {
        flex: 1;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.border {
    border-radius: 2px;
    font-size: 80%;
    position: relative;
    bottom: 1px;
    border: 1px solid;
    padding: 0px 3px;
}

.articleLineWrap {
    margin: 6px 0px;
}

.articleLine {
    color: black;
    /* margin: 10px 0px; */
    & .articleCategory {
        font-weight: bold;
        margin-right: 8px;
    }
    & .articleTitle {
        font-size: 20px;
        color: black;
        /* font-weight: bold; */
    }
    & .articleGraphViewIcon {
        font-size: 20px;
        position: relative;
        z-index: 10;
    }
}

.articleFooter {
    & .articleBtns {
        display: flex;
        & .hit {
            background: var(--light-gray);
        }
        & .articleBtnItem {
            float: left;
            white-space: nowrap;
            margin-right: 10px;
            cursor: pointer;
            padding: 3px;

            align-items: center;
            font-size: 14px;
            border-radius: 4px;

            & i {
                font-size: 150%;
                margin-right: 4px;
            }
        }
        & .good {
            color: var(--green);
            margin-right: 0px;
        }
        & .bad {
            color: var(--red);
        }
        & .chosenGood {
            background-color: var(--light-green);
        }
        & .chosenBad {
            background-color: var(--light-red);
        }
        & .articleBtnItem:not(.hit,.good,.bad):hover {
            background-color: var(--hover-background-color);
        }
        & .articleBtnItemTracking {
            color: transparent;
            text-shadow: 0 0 0 gray;
        }
    }
    & .replies {
        & > div {
            margin-top: 12px;
        }
    }
}

.num {
    margin-right: 2px;
}

.articleContainer {
    border: 1px var(--lighter-gray) solid;
    background-color: var(--background-color);
    overflow: hidden;
    width: 100%;
    max-width: 1150px;
    padding: 14px 20px;
    position: relative;
}
@media only screen and (max-width:600px) {
    .articleContainer {
        padding: 10px 6px;
    }
}
.articleContainer:hover {
    box-shadow: inset 0 0 5px var(--theme-color);
}
.articleBody {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 14px;
}
.leftPart {
    display: block;
    width: 100%;
}
.articleContentWrapper {
    overflow-y: hidden;
    & .articleContent {
        display: inline-block;
        word-wrap: break-word;
        white-space: pre-wrap;
        color: var(--font-color);
        font-size: 16px;
        overflow: hidden;
        display: -webkit-box;
    }
}

.simpleArticleCard {
    border: 1px var(--lighter-gray) solid;
    padding: 2px 10px 5px 10px;
    position: relative;
    & .overlay {
        position: absolute;
        left:0; top:0; bottom:0; right:0;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & .leftSet {}
    & .rightSet {
        position: relative;
        top: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 24px;
        color: var(--font-color);
    }
}

.simpleArticleCard:hover {
    box-shadow: inset 0 0 2px var(--theme-color);
}

.offset {
    margin-left: 20px;
}

.commentCards {
    font-size: 16px;
    & textarea {
        margin-top: 2px;
        width: 100%;
        height: 60px;
    }
    & .commentHeader {
        font-size: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2px 0px;
    }
    & .commentContent {
        margin-top: 2px;
        margin-bottom: 8px;
        color: var(--font-color);
        background-color: var(--lightest-gray);
        border-radius: 5px;
        padding: 10px;
    }
}

.readMore {
    margin-top: 6px;
    font-size: 16px;
    cursor: pointer;
}

.edit {
    color: var(--blue);
    cursor: pointer;
}