.articlePage {
    border: 1px var(--lighter-gray) solid;
    background-color: var(--background-color);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    & .reply {
        cursor: pointer;
    }
    & .cantReply {
        color: var(--disabled-color);
    }
}
@media only screen and (max-width:600px) {
    .articlePage {
        padding: 10px 6px;
    }
}
.articleLineWrap {
    margin: 12px 0px;
}
.articleContent {
    margin: 20px 0px 20px 0px;
    line-height: 1.5;
    font-size: 16px;
    color: var(--font-color);

    & .field {
        margin-bottom: 20px;
        & .fieldName {
            color: var(--light-font-color);
        }
        & .cardWrap > div {
            border-radius: 10px;
            border: 0px;
            background: var(--third-theme-color);
            margin-bottom: 5px;
        }
        & hr {
            margin: 5px 0px;
            color: var(--light-gray);
        }
    }
}