.boardEditor {
    & .forceEditor {
        padding-top: 20px;
        width: 600px;
        display: flex;
        flex-direction: row;
        & .forceEditorLeft {
            display: flex;
            flex-direction: column;
            width: 400px;
        }
        & .forceEditorRight {
            margin: 0px 0px 0px 5px;
            flex: 1;
            & .forceExampleList {
                overflow: auto;
                & .forceExample {
                    border: var(--border-color) solid 1px;
                }
                & .forceExample:hover {
                    cursor: pointer;
                }
            }
        }
    }
    & input { margin: 0px 0px 5px; }
    & textarea {
        position: relative;
        width: 100%;
        height: 80px;
        margin: 0px 0px 5px;
        resize: none;
    }
    & .label {
        padding-top: 20px;
    }
    & .remove {
        color: red;
    }
    & .remove:hover {
        cursor: pointer;
    }
}

.categories {
    & .category {
        padding: 5px;
        margin: 20px 0px;
        border-radius: 10px;
        background: var(--light-gray);
        & .categoryName {
            margin-right: 10px;
            margin-left: 2px;
        }
        & .fields {
            & .field {
                margin: 4px 0px;
                & .fieldName {
                    margin-right: 10px;
                    margin-left: 2px;
                }
            }
            margin-left: 20px;
        }
    }
}

.suggestedTags {
    margin-top: 40px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}