.articleBlock {
    position: absolute;
    transition: .2s;
}
.wrapper {
    /* z-index: -99; */
    width: 100%;
    position: relative;
    height: 100vh;

    & .panel {
        opacity: 0.8;
        padding: 10px;
        z-index: 9;
        background-color: white;
        box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 5px;
        right: 5px;
        color: gray;

        & hr {
            border-color: var(--lightest-gray);
        }
    }
}
.svgBlock {
    /* z-index: -99; */
    width: 100%;
    position: relative;
    background-color: var(--lightest-gray);
    & svg:active {
        cursor: move;
    }
}