.rightSidebarItem {
    padding: 10px 0px;
}

.rightSidebarButton {
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.rightSidebarButton:not(:last-of-type)  {
    margin-bottom: 10px;
}

.rightSidebarButton:hover {
    filter: brightness(120%);
}

.postArticleButton {
    background-color: var(--theme-color);
    color: var(--background-color);
}

.subscribeButton {
    background-color: var(--theme-color);
    color: var(--background-color);
}

.trackBoardButton {
    border: 2px var(--theme-color) solid;
    color: var(--theme-color);
}

.showPartyButton {
    border: 2px var(--border-color) solid;
    color: var(--light-font-color);
}

.rightSidebarBlock {
    background-color: var(--background-color);
    color: var(--font-color);
    border: 1px var(--lighter-gray) solid;

    & .header {
        font-size: 20px;
        padding: 4px 12px;
        background-color: var(--theme-color);
        color: var(--background-color)
    }

    & .content {
        padding: 10px 12px;
        font-size: 16px;

        & .partyItem {
            display: flex;
            padding: 5px 0px;

            & .partyTitle {
                flex: 1;
            }

            & .partyName {
                flex: 2;
            }

            & .partyScore {
                flex: 1;
                color: var(--sub-theme-color);
                font-weight: 300;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                & i {
                    margin-left: 5px;
                }
            }
        }

        & .mainPartyItem {
            color: var(--theme-color);
            font-weight: bold;
        }
    }
}

.advertisement {
    font-size: 72px;
}
.userIntroduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .userTop {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        & .avatar {
            flex: 1;
            display: flex;
            align-items: center;
            & img {
                width: 120px;
                height: 120px;
            }
        }
        & .action {
            display: flex;
            align-items: center;
            width: 130px;
            padding: 0px 5px;
        }
    }
    & .text {
        width: 100%;
        padding: 10px;
        /* display: flex;
        flex-direction: column;
        justify-content: space-around; */
        & .name {
            font-size: 32px;
        }
        & .sentence {
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    & .information {
        width: 100%;
    }
}
.anonymousAuthor {
    margin: 10px;
}