:root {
    --input-height: 40px;
}
.editorPanel {
    background: var(--background-color);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    width: 500px;
    & .editorBody {
        height: 450px;
        max-height: 70vh;
        overflow-y: auto;
        & .location {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: var(--input-height);
            & .board {
                flex: 1;
            }
            & .category {
                flex: 1;
            }
        }
        & .articleTitle {
            height: var(--input-height);
            width: 100%;
        }
        & .fields {
            padding: 0px 15px;
            & .field {
                & label {
                    display: block;
                    margin-top: 15px;
                }
                & input {
                    height: var(--input-height);
                    width: 100%;
                }
                & textarea {
                    width: 100%;
                    height: 150px;
                }
            }
        }
    }
}
