:root {
    --header-height: 60px;
    --footer-height: 48px;
    --menubar-width: 56px;
    --left-panel-width: 300px;

    /* 灰色系列 */
    --gray-1: #f1f1f1;
    --gray-2: #e4e4e4;
    --gray-3: #aaaaaa;
    --gray-4: #888888;
    --gray-5: #616569;
    --gray-6: #444444;
    --gray-7: #212429;
    --gray-8: #111111;

    --white: #fafafa;
    --blue: #0366d6;
    --red: #d51a30;
    --light-red: #FFBBBF;
    --green: #017513;
    --light-green: #7EFF43;
    --orange: #f5aa30;
    --pink: #FFDDAA;

    --theme-color: var(--red);
    --sub-theme-color: var(--orange);
    --third-theme-color: var(--pink);

    --font-color: var(--gray-8);
    --light-font-color: var(--gray-5);
    --reverse-font-color: var(--white);
    --light-reverse-font-color: #e9dffa;

    --disabled-color: var(--gray-3);

    --border-color: var(--gray-2);

    --link-color: var(--blue);

    --lower-background-color: var(--white);
    --bar-color: var(--white);
    --header-color: var(--white);
    --background-color: var(--white);
    --hover-background-color: var(--third-theme-color);
}

@media only screen and (max-width: 600px) {
    :root {
        --menubar-width: 48px;
        --left-panel-width: 70vw;
        --right-panel-width: 70vw;
    }
}