{
	"env": {
		"jest": true,
		"browser": true,
		"node": true,
		"commonjs": true,
		"es6": true
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module",
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
		}
	},
	"plugins": [
		"@typescript-eslint"
	],
	"rules": {
		"keyword-spacing": [
			"error"
		],
		"guard-for-in": [
			"error"
		],
		"no-var": [
			"error"
		],
		"no-undef": [
			"error"
		],
		"no-trailing-spaces": [
			"error"
		],
		"curly": [
			"error"
		],
		/* 沒用到的變數需要符合以 _ 開頭的命名規範 */
		"@typescript-eslint/no-unused-vars": [
			"error",
			{
				"args": "all",
				"varsIgnorePattern": "^_.*",
				"argsIgnorePattern": "^_.*"
			}
		],
		"@typescript-eslint/semi": [
			"error"
		],
		"@typescript-eslint/no-use-before-define": [
			"error"
		],
		"@typescript-eslint/no-explicit-any": [
			"error"
		],
		"@typescript-eslint/explicit-function-return-type": [
			"error",
			{
				"allowExpressions": true
			}
		],
		"indent": [
			"error",
			"tab",
			{
				"SwitchCase": 1,
				"MemberExpression": "off"
			}
		],
		"linebreak-style": [
			"error",
			"unix"
		],
		"quotes": [
			"error",
			"single"
		],
		"semi": [
			"error",
			"always"
		]
	}
}